* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #D7C6A8, #999F8D);
}
main{
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #DBC4B8;
}
h1{
    color: #717557;
    text-align: center;
    text-shadow: 1px 1px 0px #DBC4B8;
}
h2{
    color: #726e2f;
}
p {
    text-align: justify;
}